.navbar-inverse {
    background-color: #222;
    border-color: #080808;
    background-image: none;
    border-radius: 0 !important;
}
footer{
	background-color: $black;
	p{
		color: $white_font;
	}
}